.header-box {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 34px;
}

.header-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 737.15px;
}

.header-link-links2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25.94px;

    .header-link-links2-pages {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        .header-link-links2-pages-item {
            color: rgba(0, 0, 0, 0.87);
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
    }
}

.header-link-links2-sing-up-btn {
    width: 114.059px;
    padding: 10px 1.9px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 10px;
    background: #FFB200;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.16);
    border: none;
}