.experience-section {
    padding-bottom: 230px;
}

.experience-start-title {
    padding-bottom: 58px;

    .experience-start-h3 {
        color: #17222B;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        /* 200% */
        letter-spacing: -1.44px;
    }
}

.experience-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-card {
    width: 820px;
    height: 302px;
    background-color: #FFF;
    border-radius: 19.822px;
    box-shadow: 0px 14.158878326416016px 84.9532699584961px 0px rgba(38, 45, 118, 0.08);
    display: flex;
}

.experience-card-right {
    position: relative;
    cursor: pointer;
}

.experience-card-right-img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.experience-price {
    position: absolute;
    right: 10px;
    bottom: 30px;
    width: 158px;
    height: auto;
    display: flex;
    background-color: #fff;
    border-radius: 50px;
    gap: 6px;
    padding: 5px;
}

.experience-price-h5 {
    color: var(--brand-color-2, #FD661F);
    font-family: Inter;
    font-size: 23.619px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 35.428px */
}

.experience-price-line-h5 {
    color: var(--black, #230F0F);
    font-family: Inter;
    font-size: 20.995px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration: line-through;
    /* 31.492px */
}


.experience-card-left {
    padding: 50px;
}

.experience-date-p {
    color: var(--primary-primary-3, #777795);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 12px;
    /* 21px */
}

.experience-card-name-h3 {
    color: var(--brand-color, #0B7077);
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    /* 33px */
    letter-spacing: 0.549px;
}

.experience-description-p {
    color: var(--grey-grey-2, #4D4D4D);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
}